<%= form_with model: @comment do |form| %>
  <div class='mb-3 col-md-2'>
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>
  <div class='mb-3 col-md-2'>
    <%= form.label :post_id %>
    <%= form.collection_select :post_id, Post.all.order(:title), :id, :title, {}, class: 'form-select' %>
  </div>
  <%= form.submit 'Save', class: 'btn btn-success' %>
<% end %>
