<button type="button" class="btn btn-primary link-warning" data-bs-toggle="modal" data-bs-target="#newUserModal">
  Add New User
</button>

<%= image_tag "logo-2.svg", class: 'binar-logo' %>

<h1 class='users-header'>Users</h1>
<table class="table">
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= link_to 'Edit User', edit_user_path(user) %></td>
      <td><%= link_to 'Delete User', user_path(user), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= render 'new_user_modal' %>
