<%= link_to 'Add New User', new_user_path %>

<h1>Users</h1>
<table>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= link_to 'Edit User', edit_user_path(user) %></td>
      <td><%= link_to 'Delete User', user_path(user), method: :delete %></td>
    </tr>
  <% end %>
</table>
