<%= link_to 'Add New Post', new_post_path, class: 'btn btn-primary link-warning' %>

<h1>Posts</h1>
<table class="table">
  <tr>
    <th>Post ID</th>
    <th>Post Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= link_to 'Edit Post', edit_post_path(post) %></td>
      <td><%= link_to 'Delete Post', post_path(post), method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>
<%= page_entries_info @posts, entry_name: 'Posts' %>
